// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
width:90%;
margin:1em auto;
border-collapse:collapse;
}

td {
color:#678197;
padding:.3em 1em;
text-align:center;
}


.odd {
border-top:1px solid green;
}
.even {
border-top:1px solid green;
}


tr {
line-height: 50px;
}

.background{
background-image:url('tree-bg.jpg');
background-position:right bottom;
background-repeat: no-repeat;

}